{% extends "layout.html" %}

{% block content %}
<a class="btn btn-light" href="{% url 'new_task' %}" role="button">Add</a>
<a class="btn btn-light" href="{% url 'logout' %}" role="button">Logout</a>
<a class="btn btn-light" role="button">{{ user.username }}</a>
<hr>

{% for task in tasks %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ task.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ task.deadline }}</h6>
      <p class="card-text">{{ task.description }}.</p>
      <a href="{% url 'task' task_name=task.name %}" class="card-link">more</a>
    </div>
  </div>
<br>
{% endfor %}
{% endblock %}